<% provide :title, t(".title") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> <%= t ".h" %> </h1>
    <p>
      <%= t ".gethelp" %>
      <%= link_to t(".section"), "http://www.railstutorial.org/help" %>.
      <%= t ".togethelp" %>
      <%= link_to t(".tut"), "http://www.railstutorial.org/book" %>
      <%= t "static_pages.about.book" %></a>.
    </p>
  </body>
</html>
